* {
  font-family: "M PLUS Code Latin", sans-serif;
}
body {
  background-color: #e8e9fe;
}
#search-field:focus {
  box-shadow: 4px 2px 8px 1px;
}
button{
  box-shadow: none;
  background-image: linear-gradient(rgb(110, 131, 44), yellow);
}
button:hover {
  background-image: linear-gradient(135deg, yellow, rgb(110, 131, 44));
}
